
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Graduate", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
    --title-color: #FDB927;
    --laker-purple: #582C83;
    --laker-gold: #FFC72C;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
h1 {
    font-size: medium;
    color: var(--color1);
    font-family: "Graduate", sans-serif;
    text-align: center;
    animation: lak 10s 0.3s infinite  linear;
}
@keyframes lak{
    0%,100%{
        color:var(--color1);
    }
    25%,75%{
        color: purple;
    }
    50%{
        color:yellow;
    }
}
.logo img{
    width: 125px;
    height: 100px;
}
.menu ul{display: flex;}
.menu ul li {padding-left: 30px;}
.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu ul li:first-child{
    justify-content: center;
}
.menu ul{
    display:flex;
    align-items: center;
    list-style: none;
}
.menu  ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu ul li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 700px){
    .menu{
        
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color2);
        width: 80%;
        height: 100vh;
        position: fixed;
        list-style: none;
    }
    .menu ul li {margin-top: 40px;}
    .menu ul li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
body{
    background-image: url(../images/yellow-purple-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
main{
    background-color: rgba(0,0,0,0.5);
}
.history{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home h2,h3 {
    text-align: center;
    font-size: 3em;
    color: var(--title-color);
    margin: 3vh 5%;
}
.home p:first-of-type{
    background-color: var(--laker-purple);
    color:var(--laker-gold)
}
.home p:last-of-type{
    background-color: var(--laker-gold);
    color:var(--laker-purple)
}
.home p{
    font-size: 1.5em;
    padding: 2em;
    border-radius: 2vh;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    margin: 5% 5%;
    text-align: justify;
}

.cancel-btn {
    position: absolute;
    right: 5%;
    top: 3%;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}
.eras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3vh;
}
.era {
    height: 10vh;
    width: fit-content;
    margin: 2vh 2vw;
    padding: 1em 2em;
    padding-bottom: 2em;
    border-radius: 2vh;
    font-size: 2em;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
    border: none; 
}

.eraStory {
    margin: 2vh 5%;
    color: white;
    padding: 1em;
    border-radius: 2vh;
    position:relative;
}
.eraStory p {
    font-size: 1em;
    text-align: justify;
    padding: 1em;
}
.eraStory h3 {
    color:#FFF;
}
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 3s ease;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.delay1 {
    transition-delay: 1s;
}

.delay2 {
    transition-delay: 2s;
}
.delay3 {
    transition-delay: 3s;
}
@media (max-width: 650px) {
    .eras {
        flex-direction: column;
        align-items: center;
    }
    .era {
        margin: 2vh 5%;
    }
    .eraStory h3 {
        font-size: 1.5em;
    }
}
