
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Graduate", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
    --title-color: #FDB927;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
h1 {
    font-size: medium;
    color: var(--color1);
    font-family: "Graduate", sans-serif;
    text-align: center;
    animation: lak 10s 0.3s infinite  linear;
}
@keyframes lak{
    0%,100%{
        color:var(--color1);
    }
    25%,75%{
        color: purple;
    }
    50%{
        color:yellow;
    }
}
.logo img{
    width: 125px;
    height: 100px;
}
.menu ul{display: flex;}
.menu ul li {padding-left: 30px;}
.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu ul li:first-child{
    justify-content: center;
}
.menu ul{
    display:flex;
    align-items: center;
    list-style: none;
}
.menu  ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu ul li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 700px){
    .menu{
        
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color2);
        width: 80%;
        height: 100vh;
        position: fixed;
        list-style: none;
    }
    .menu ul li {margin-top: 40px;}
    .menu ul li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
body {
    background-color: var(--color2);
}
.backgr-video {
    padding-top: 56.25%; /* 16:9 */
    position: relative;
    animation: fadein 3s  5s ease-in-out forwards;
    opacity: 0;
    
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.backgr-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border: none;
}
.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    animation:
    fadein 1s ease-in-out 0s forwards,
    fadeout 2s ease-in-out 4s forwards;
    opacity: 0;
}
.home h2 {
    color: var(--title-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home p {
    color: white;
    font-size: 1.5rem;
}
.description {
    padding: 2rem;
    animation: fadein 5s  5s ease-in-out forwards;
    opacity: 0;
}
.description h2{
    color: var(--title-color);
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}
.description p {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.page-item h3 {
    color: var(--title-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}
