*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Graduate", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
h1 {
    font-size: medium;
    color: var(--color1);
    font-family: "Graduate", sans-serif;
    text-align: center;
    animation: lak 10s 0.3s infinite  linear;
}
@keyframes lak{
    0%,100%{
        color:var(--color1);
    }
    25%,75%{
        color: purple;
    }
    50%{
        color:yellow;
    }
}
.logo img{
    width: 125px;
    height: 100px;
}
.menu ul{display: flex;}
.menu ul li {padding-left: 30px;}
.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu ul li:first-child{
    justify-content: center;
}
.menu ul{
    display:flex;
    align-items: center;
    list-style: none;
}
.menu  ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu ul li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 700px){
    .menu{
        
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color2);
        width: 80%;
        height: 100vh;
        position: fixed;
        list-style: none;
    }
    .menu ul li {margin-top: 40px;}
    .menu ul li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
main{
    overflow: hidden;
}
@media (max-width:550px){
    .move{
        width: fit-content;
    }
    .spinleft{
        animation: spinleft 6s linear infinite;
    }
    @keyframes spinleft{
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .move1{
        width: fit-content;
    }
    .spinright{
        animation: spinright 6s linear infinite;
    }
    @keyframes spinright{
        0%{
            transform: rotate(360deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
}
@media (min-width:550px)
{
    .move{
        animation: move 6s ease-in infinite;
        width: fit-content;
        margin-top: 3vh;
    }
    @keyframes move{
        0%{
            transform: translateX(-100%);
        }
        50%{
            transform: translateX(39vw);
        }
        100%{
            transform: translateX(-100%)
        }
    
    }
    
    .spinleft{
        animation: spinleft 6s linear infinite;
    }
    @keyframes spinleft{
        0%,100%{
            transform: rotate(0);
        }
        50%{
            transform: rotate(360deg);
        }
    }
    .move1{
        animation: move1 6s ease-in infinite;
        width: fit-content;
        margin-top: 3vh;
    }
    @keyframes move1{
        0%, 100%{
            transform: translateX(100%);
        }
        50%{
            transform: translateX(-39vw);
        }
        100%{
            transform: translateX(100%)
        }
    
    }
    
    .spinright{
        animation: spinright 6s linear infinite;
    }
    @keyframes spinright{
        0%, 100%{
            transform: rotate(360deg);
        }
        50%{
            transform: rotate(0deg);
        }
    }
}
.spinleft object, .spinright object{
    height: 10vh;
    width: 10vw;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "team player";
    grid-template-rows: auto;
}

.team{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    animation: appear1 4s ease-in-out 1s forwards;
}
.team h2{
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-align: center;
    visibility: hidden;
    animation: appear 4s ease-in-out 2s forwards;
    font-size: 2em;

}
.player h2{
    margin-top: 3vh;
    text-align: center;
    visibility: hidden;
    animation: appearright 4s ease-in-out 2s forwards;
    font-size: 2em;
}
@keyframes appear{
    from{
        transform: translateX(-100%);
        visibility: visible;
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}
@keyframes appear1{
    from{
        transform: translateX(-100%);
        visibility: visible;
    }
    to{
        transform: translateX(0);
        visibility: visible;
        background-color: rgb(250, 176, 40);
        border-style: outset;
    }
}
@keyframes appear2{
    from{
        transform: translateX(-100%);
        visibility: visible;
    }
    to{
        transform: translateX(0);
        visibility: visible;
        background-color: rgb(250, 176, 40);
        border-style: outset;
    }
}
@keyframes appearright{
    from{
        transform: translateX(100%);
        visibility: visible;
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}
.team details summary{
    text-align: center;
    color:var(--color2);
    list-style: none;
    visibility: hidden;
    font-size: 1em;
    animation: appear 4s ease-in-out 3s forwards;
    text-transform: uppercase;
}
.team details summary:last-of-type{
    margin-bottom: 1.5vh;
    margin-top: 2vh;
}
table {
    border-collapse: collapse;
    min-width: max-content; 
    min-height: max-content; 
}
.table-wrapper1{
    overflow-x: scroll;
}
.table-wrapper{
    justify-self: center;
}
th,
td{
    padding: 1rem;
} 
th{
    text-align: left;
}

.table-container th {
    background: hsla(36, 79%, 78%, 0.5);
    text-align: center;
    position: sticky;
}
.table-container td{
    text-align: center;
}
tr:nth-of-type(2n){
    background: hsla(36, 79%, 78%, 0.2)
}
.table-container{
    max-width: 50vw;
    max-height:50vh;

}
@media (max-width: 1400px) {
     .table-wrapper{
        overflow-y: scroll;
        overflow-x: scroll;
     }
}
.season{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    animation: appear2 4s ease-in-out 1s forwards;
}
.season h2{
    margin-top: 3vh;
    text-align: center;
    visibility: hidden;
    animation: appear 4s ease-in-out 2s forwards;
    font-size: 3vw;
    margin-bottom: 3vh;
}
.season p{
    color:var(--color2);
    visibility: hidden;
    animation: appear 4s ease-in-out 3s forwards;
    margin-bottom: 6vh;
    text-align: justify;
    padding-left: 3vh;
    padding-right: 3vh;
}
.leader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.player{
    animation: playerright 3s ease-in-out 1s forwards;
}
@keyframes playerright{
    from{
        transform: translateX(100%);
        visibility: visible;
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}
.card{
    width: 33%;
    flex-grow: 1;
    border-style: solid;
    box-shadow: #181818;
    background-color: purple;
    padding-top: 1vh;
    padding-bottom: 1vh;
    animation: appearright1 7s ease-in-out forwards;
    visibility: hidden;
}
.card img{
    width: 100%;
}
.card h3, .card h4{
    text-align: center;
    visibility: hidden;
    animation: appearright 4s ease-in-out 3s forwards;
    font-size: 1.5vw;
    color: var(--color1);

}
.card p{
    text-align: center;
    color:var(--color1);
    visibility: hidden;
    animation: appearright 4s ease-in-out 7s forwards;
    font-size: 1.5vw;
}
.card img{
    animation: appeardown 8s ease-in-out forwards;
    visibility: hidden;
}
@keyframes appearright1{
    from{
        transform: translateX(300vw);
        visibility: visible;
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}
@keyframes appeardown{
    from{
        visibility: visible;
        transform: translateY(100vh);
    }
    to{
        visibility: visible;
        transform: translateY(0);
    }
}